body{
    font-family: $fontitle;
    margin:0;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.l_container {
    background-color: #eef1f3;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
    @include border-radius( 10px );

    .l_header {
        background-color: #eaeaea;
        width: 80%;
        margin: 5px auto;
        padding: 10px 5px;
        @include border-radius( 10px );

        .form__filter {
            input.js_input_filter {
                width: 80%;
                margin: 10px 0px;
                padding: 10px 5px;
                @include border-radius( 10px );
                border: 0;
                outline: none;
            }
    
            button.js_button_filter {
                background-color: #639aff;
                color: white;
                width: 15%;
                padding: 10px 0px;
                border: 0;
                @include border-radius( 5px );
                outline: none;
            }

            button.js_button_filter:hover {
                background-color: white;
                color: black;
            }
        }

        .form__options > * {
            display: block;
            margin-bottom: 10px;
            text-align: center;
        }
    }

    .l_mainContent  {
        background-color: #eaeaea;
        width: 80%;
        margin: 20px auto;
        padding: 15px 0px;
        @include border-radius( 10px );
        
        .card{
            width: 90%;
            margin: auto;
            padding: 20px 15px;
            border-top: 2px solid gray;

            &:first-child{
                border-top: 0;
            }

            &:last-child{
              border-bottom: 0;
            }

            &__img{
              width: 100px;
              height: auto;
              float: left;
              border: 2px solid #d0d0d0;
            }

            &__content{
              width: calc(100% - 125px);
              float: right;
            }

            &__metadata{
              margin: 0;
              padding: 0;
              li{
                display: inline;
                font-size: 15px;
                margin-right: 20px;
              }
            }

            &__title{
              margin-top: 0;
              font-family: 'Archivo Narrow', sans-serif;
              a{
                text-decoration: none;
                color: #639aff;
              }
            }

            &__description {
                border-left: 3px solid #639aff;
                padding-left: 5px;
            }

            .fas.fa-comment{
                color: gray;
            }

            .fas.fa-heart{
                color: red;
            }

            i.fas:hover {
                opacity: 0.4;
                cursor: pointer;
            }

            &:after{
              content: "";
              display: block;
              clear: both;
            }
        }
    }

    .l_footer {
        width: 80%;
        margin: 20px auto;
        padding: 20px 5px;

        a.pull-left {
            float: left;
        }

        a.pull-right {
            float: right;
        }

        .js-prev-btn {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid #000000;
            transition: 0.5s;
        }

        .js-next-btn {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #000000;
            transition: 0.5s;
        }

        .js-prev-btn:hover, .js-next-btn:hover {
            opacity: 0.7;
        }

        .js-prev-btn.disabled, .js-next-btn.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    .l_footer_top {
        display: block;

        .pull-top {
            background-color: #bbbbbb;
            display: none;
            position: fixed;
            bottom: 0px;
            right: 0px;
            z-index: 99;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            padding: 10px;
            border-radius: 40px;
            transition: 0.5s;
        }

        .pull-top:hover {
            background-color: gray;
        }
    }

}